@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Unbounded&display=swap");

* {
  border: 0;
  margin: 0;
  text-decoration: none;
  --navy-blue: #003057;
  --light-blue: #81b3ff;
  --white: #eaecff;
}

h1#titulo {
  text-align: center;
  color: var(--white);
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

header#cabecalho {
  background-color: var(--navy-blue);
  box-shadow: 0px 0px 10px #000;
}

header#cabecalho a#login {
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
  position: absolute;
  color: var(--white);
  right: 0%;
  top: 10px;
  transition: background-color 1s;
  text-decoration: none;
}

img#icon-login {
  width: 3rem;
  height: 3rem;
}

img#icon-login:hover {
  width: 3.4rem;
  height: 3.4rem;
  transition: 0.5s;
}

nav#categorias {
  display: block;
}

nav#categorias ul {
  list-style: none;
  position: absolute;
  top: 120px;
  left: 367px;
}

nav#categorias li {
  color: white;
  display: inline-block;
  padding: 10px;
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
}

nav#categorias a {
  color: white;
  transition: 0.5s ease-out;
}

nav#categorias a:hover {
  transition: 0.5s ease-in-out;
  font-size: 1.1rem;
}

section#corpo {
  font-family: "Montserrat", sa\ns-serif;
  width: 80%;
}

section#corpo h2#titulo {
  text-align: center;
  margin-top: 30px;
}

table.produtos {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table.produtos td {
  border: 50px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  transition: background-color 0.5s;
  padding: 10px 10px 10px 10px;
}

table.produtos td:hover {
  background-color: var(--white);
}

table.produtos tr {
  display: inline-block;
}

table.produtos a {
  color: black;
  transition: background-color 1s;
}

table.produtos a.legenda {
  transition: color 1s;
}

table.produtos a.legenda:hover {
  color: white;
}

main {
  position: relative;
  padding-bottom: 6rem;
  height: 100%;
  width: 100%;
}

div#interface {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

footer#rodape {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background-color: var(--navy-blue);
  clear: both;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

footer#rodape a {
  color: var(--white);
  transition: ease-out 0.2s;
}

footer#rodape a:hover {
  color: var(--light-blue);
  transition: ease-in 0.2s;
  font-size: 1.1rem;
}

footer#rodape p {
  text-align: center;
}

lord-icon#redessociais {
  margin-left: 0.5rem;
}

input#pesquisa {
  border: 2px solid var(--white);
  border-radius: 3rem;
  padding-left: 1.1rem;
}

.form-group {
  padding-bottom: 1rem;
}

p.card-text {
  margin-bottom: 0.5rem;
}

#gpbtnlogin {
  margin-top: 1.3rem;
  margin-right: 1.5rem;
  padding-inline: 1.5rem;
}

div.card {
  border-color: #003057;
  border-width: 1.5px;
}

table#pagvend {
  width: 80%;
}

table#pagvend td {
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 2rem;
}

div.itemvend {
  margin: 1rem;
}

.nomevend {
  font-size: larger;
  font-weight: bold;
  width: 30%;
}

.descricaovend {
  width: 50%;
  border-bottom: solid 2px;
  border-bottom-color: var(--navy-blue);
}

.precovend {
  font-size: large;
  width: 15%;
  font-weight: bold;
  border-bottom: solid 2px;
  border-bottom-color: var(--navy-blue);
}

.dispvend,
.vendidosvend {
  font-size: smaller;
  border-bottom: solid 2px;
  border-bottom-color: var(--navy-blue);
}

.imgvend {
  border-bottom: solid 2px;
  border-bottom-color: var(--navy-blue);
}

.titulovend {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#cadastrodeprodutos div.card {
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5rem;
}
